.features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px 0;
    color: white;
  }
  
  .heading-container h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .heading-container p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #666;
  }
  h2{
    color: black;
   
  }
  
  .features-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .left-side, .right-side {
    display: flex;
    justify-content: center;
  }
  
  .left-side ul, .right-side ul {
    list-style: none;
    padding: 0;
  }
  
  .left-side ul li, .right-side ul li {
    font-size: 1.1rem;
    margin: 10px 0;
    color: black;
    font-weight: bolder;
  }
  h6{
    color: rgb(77, 76, 75);
    justify-content: left;
    justify-items: left;
  }
  
  .image-container img {
    max-width: 350px;
    height: auto;
  }
  .image-container:hover{
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .features-content {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  
    .left-side, .right-side {
      justify-content: flex-start;
    }
  
    .image-container img {
      max-width: 200px;
    }
  }
  